@font-face {
  font-family: 'handel gothic';
  src: url('fonts/handel_gothic_d_bold.woff') format('woff');
  src: url('fonts/handel_gothic_d_bold.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: 'Open Sans Light';
  src: url('fonts/Open_Sans_300.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
	font-family: 'Raleway Light';
	src: url('fonts/Raleway_300.ttf') format('truetype');
	font-weight: normal;
}
/********************Josefin Slab*****************/
@font-face {
	font-family: 'Josefin Slab Regular';
	src: url('fonts/Josefin_Slab/Josefin Slab regular.ttf') format('truetype');
	font-weight: normal;
}
@font-face {
	font-family: 'Josefin Slab Light';
	src: url('fonts/Josefin_Slab/Josefin Slab 300.ttf') format('truetype');
	font-weight: normal;
}
@font-face {
	font-family: 'Josefin Slab SemiBold';
	src: url('fonts/Josefin_Slab/Josefin Slab 700.ttf') format('truetype');
}