html {
  height: 100%;
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  position: relative;
  margin: 0;
  padding-bottom: 5.1rem;
  font-size: 1.6rem;
  min-height: 100%;
  font-family: 'Open Sans',"Helvetica Neue", Arial, sans-serif;
  background-color: /*#0E2245*/#efefff;
  background-image: url("../../images/background-wallpaper.jpg");
}
a:hover {
  background-color: rgba(0,0,0,0.2);
  transition: background-color 0.3s;
}
#main {
  padding: 40px 15px;
}
/*input[type=submit] {
  border: none;
  background-color: #1e60ac;
  color: white;
  padding: 10px;
}
input[type=submit]:hover {
  cursor: pointer;
  background-color: #124d92;
  transition: background-color 0.3s;
}*/